<div class="flex h-screen bg-primary-100">
  <div class="flex w-1/2 gap-4 overflow-hidden pl-64">
    <div class="flex flex-col items-center justify-center gap-2">
      @for (img of images; track $index) {
        <img
          [src]="img"
          alt=""
          (click)="currentIndex = $index"
          (keydown.enter)="currentIndex = $index"
          (keydown.space)="currentIndex = $index"
          tabindex="0"
          class="h-20 w-16 cursor-pointer rounded border-2 object-cover transition-all duration-300"
          [class.border-black]="currentIndex === $index"
          [class.opacity-50]="currentIndex !== $index"
        />
      }
    </div>

    <div
      class="flex-1 transition-transform duration-500 ease-in-out"
      [style.transform]="'translateY(-' + currentIndex * 85 + '%)'"
    >
      @for (image of images; track $index) {
        <img
          [src]="images[$index]"
          alt=""
          class="h-[85%] w-auto rounded object-cover py-2 transition-all duration-500"
        />
      }
    </div>
  </div>

  <div class="flex h-screen w-1/2 px-20 pt-20">
    <div class="h-auto w-[60%]">
      <div class="mb-12 flex flex-col">
        <span class="text-3xl font-thin">Price</span>

        <span class="flex items-end justify-end font-thin">PHP 399 </span>
      </div>
      <div class="mb-12 flex w-full flex-col items-center justify-center gap-2">
        <a
          href="/collection"
          class="w-full border-[1px] border-black bg-white py-3 text-center text-black"
          >ADD TO CART</a
        >
        <a
          href="/collection"
          class="w-full bg-black py-3 text-center text-white"
          >BUY IT NOW</a
        >
      </div>
      <div class="font-thin">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </div>
    </div>
  </div>
</div>
