<div class="grid grid-cols-3 py-16 text-white">
  <div class="col-span-1 flex flex-col items-center justify-center">
    <span class="mb-2 text-xl">Contact Us</span>
    <span>(+63)935-724-0495</span>
    <span>anna.carissa&#64;gmail.com</span>
  </div>

  <div class="col-span-1 flex flex-col items-center justify-center">
    <span class="mb-2 text-xl">Social's</span>
    <div class="flex gap-4">
      <a href="#">
        <mat-icon
          class="scale-150 cursor-pointer"
          matTooltip="Edit filter name."
          svgIcon="social_icons:icons8-facebook"
        />
      </a>
      <a href="#">
        <mat-icon
          class="scale-150 cursor-pointer"
          matTooltip="Edit filter name."
          svgIcon="social_icons:icons8-instagram"
        />
      </a>
      <a href="#">
        <mat-icon
          class="scale-150 cursor-pointer"
          matTooltip="Edit filter name."
          svgIcon="social_icons:icons8-tiktok"
        />
      </a>
    </div>
  </div>

  <div class="col-span-1 flex flex-col items-center justify-center">
    <span class="text-xl">Place Holder</span>
  </div>
</div>
