<div class="grid grid-cols-1 gap-16 py-16 text-white md:grid-cols-3 md:gap-0">
  <div class="col-span-1 flex flex-col items-center justify-center">
    <span class="mb-2 text-lg font-thin">Contact Us</span>
    <span class="text-sm font-thin">(+63)935-724-0495</span>
    <span class="text-sm font-thin">anna.carissa&#64;gmail.com</span>
  </div>

  <div class="col-span-1 flex flex-col items-center justify-center">
    <span class="mb-2 text-lg font-thin">Social's</span>
    <div class="flex gap-4">
      <a href="#">
        <mat-icon
          class="scale-100 cursor-pointer font-thin"
          matTooltip="Edit filter name."
          svgIcon="social_icons:icons8-facebook"
        />
      </a>
      <a href="#">
        <mat-icon
          class="scale-100 cursor-pointer font-thin"
          matTooltip="Edit filter name."
          svgIcon="social_icons:icons8-instagram"
        />
      </a>
      <a href="#">
        <mat-icon
          class="scale-100 cursor-pointer font-thin"
          matTooltip="Edit filter name."
          svgIcon="social_icons:icons8-tiktok"
        />
      </a>
    </div>
  </div>

  <div class="col-span-1 flex flex-col items-center justify-center">
    <span class="text-lg font-thin">Place Holder</span>
  </div>
</div>
