<div>
  <div
    [class.-translate-y-full]="isHidden"
    class="flex h-8 w-full items-center justify-center bg-black text-primary-50 transition-all duration-300"
  >
    <span class="text-xs">promo here 777</span>
  </div>

  <div
    [class.-translate-y-8]="isHidden"
    class="grid h-20 grid-cols-4 bg-black px-8 transition-all duration-300"
  >
    <div
      class="col-span-1 flex items-center justify-start text-white xl:hidden"
    >
      <button
        class="transform text-accent-50 duration-200 hover:scale-150"
        (click)="toggleMenu()"
      >
        <mat-icon
          class="cursor-pointer"
          matTooltip="Edit filter name."
          [svgIcon]="
            isMenuOpen ? 'heroicon_outline:x-mark' : 'heroicon_outline:bars-4'
          "
        />
      </button>
    </div>

    <div
      class="col-span-2 flex items-center justify-center xl:col-span-1 xl:justify-start"
    >
      <a href="/home">
        <img
          class="h-16 w-auto"
          src="../../../../../../assets/images/ahavah-logo.png"
          alt=""
        />
      </a>
    </div>

    <div class="col-span-2 hidden xl:block">
      <div
        class="flex h-full w-full items-center justify-center gap-10 text-white"
      >
        @for (item of items; track $index) {
          <div
            class="px-1 py-3 transition delay-500 duration-300 ease-in-out hover:border-b-2 focus:border-b-2"
            routerLinkActive="border-b-2 "
          >
            <a [routerLink]="item.url">{{ item.label }}</a>
          </div>
        }
      </div>
    </div>

    <div class="col-span-1 flex items-center justify-end gap-4">
      <button
        class="hidden transform text-accent-50 duration-200 hover:scale-150 md:block"
      >
        <mat-icon
          class="cursor-pointer"
          matTooltip="Edit filter name."
          svgIcon="heroicon_outline:user"
        />
      </button>
      <button class="transform text-accent-50 duration-200 hover:scale-150">
        <mat-icon
          class="cursor-pointer"
          matTooltip="Edit filter name."
          svgIcon="heroicon_outline:shopping-cart"
        />
      </button>
      <button
        class="hidden transform text-accent-50 duration-200 hover:scale-150 md:block"
      >
        <mat-icon
          class="cursor-pointer"
          matTooltip="Edit filter name."
          svgIcon="heroicon_outline:magnifying-glass"
        />
      </button>
    </div>
  </div>
  <div
    class="absolute min-h-screen w-full scale-100 transform bg-white opacity-0 transition-all duration-300 ease-out"
    [class.opacity-100]="isMenuOpen"
    [class.scale-100]="isMenuOpen"
    [class.visible]="isMenuOpen"
    [class.invisible]="!isMenuOpen"
    [class.top-20]="isHidden"
  >
    <div>
      <div class="h-full w-full items-center px-12 py-10 text-primary-900">
        @for (item of items; track $index) {
          <div
            class="py-4 text-xl transition delay-500 duration-300 ease-in-out"
          >
            <a [href]="item.url">{{ item.label }}</a>
          </div>
        }
      </div>
    </div>
  </div>
</div>
