<div>
  <div class="h-8 bg-black">promo here</div>
  <div class="grid h-20 grid-cols-4 bg-black px-8">
    <div class="col-span-1 flex items-center">
      <img
        class="h-16 w-auto"
        src="../../../../../../assets/images/ahavah-logo.png"
        alt=""
      />
    </div>

    <div class="col-span-2">
      <app-navigation-items />
    </div>

    <div class="col-span-1 flex items-center justify-end gap-4">
      <button class="transform text-accent-50 duration-200 hover:scale-150">
        <mat-icon
          class="cursor-pointer"
          matTooltip="Edit filter name."
          svgIcon="heroicon_outline:user"
        />
      </button>
      <button class="transform text-accent-50 duration-200 hover:scale-150">
        <mat-icon
          class="cursor-pointer"
          matTooltip="Edit filter name."
          svgIcon="heroicon_outline:shopping-cart"
        />
      </button>
      <button class="transform text-accent-50 duration-200 hover:scale-150">
        <mat-icon
          class="cursor-pointer"
          matTooltip="Edit filter name."
          svgIcon="heroicon_outline:magnifying-glass"
        />
      </button>
    </div>
  </div>
</div>
