<div>
  <app-carousel [slides]="slides"></app-carousel>

  <div class="bg-primary-100">
    <div class="pb-6 pt-10 text-center">
      <span class="text-xl">LOREM IPSUM SOMETHING OF THEN THIS IS.</span>
    </div>
    <app-image-navigation [items]="items"></app-image-navigation>
  </div>

  <div class="bg-primary-100 pb-10">
    <div class="pb-4 pt-14 text-center">
      <span class="text-xl">LOREM IPSUM SOMETHING OF THEN THIS IS.</span>
    </div>
    <app-product-catalog [items]="products"></app-product-catalog>
    <div class="flex items-center justify-center">
      <a href="/collection" class="bg-black px-28 py-4 text-primary-50"
        >VIEW ALL</a
      >
    </div>
  </div>
</div>
